@mixin shadow($x, $y, $blur){
          box-shadow: $x $y $blur rgba(62,50,3,.75);}

@mixin text-shadow($x,$y,$blur,$color){
  text-shadow: $x $y $blur $color;}

@mixin button($width, $color, $bg, $font-size){
  width: $width;
  padding: .7em 1.2em .4em 1.2em;
  font-family: 'antoniobold';
  font-size: $font-size;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: $color;
  background-color: $bg;
  border: thin solid $brown;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.4s ease 0s;
  &:hover{
    background-color: darken($bg, 6%);}
}

@mixin block($width, $padding, $font-size) {
  position: relative;
  overflow: hidden;
  width: $width;
  padding: $padding;
  margin-bottom: 2em;
  font-size: $font-size;
  background-color: $grey;
  border-radius: 5px;
}
