// Color Pallete
$white: rgb(255,255,255);
$black: rgb(62, 50, 3);
$grey: rgb(249,249,249);
$blue: rgb(0, 96, 184);
$red: rgb(240, 10, 10);
$light-grey: rgb(245, 245, 245);
$text-grey: rgb(77, 77, 77);
$yellow: rgba(248, 216, 113, 0.9);
$text-yellow: rgb(248, 216, 113);
$brown: rgb(136, 88, 24);
$text-brown: rgb(125,109,43);
$opacity-black: rgba(0,0,0,.75);
