// @import '_open-sans-webfont.scss';
@import '_antonio-webfont.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_text.scss';
@import '_components.scss';
@import '_modal.scss';
@import '_section.scss';
@import '_speaker.scss';
@import '_schedule.scss';
@import '_sponsor.scss';

header{
  position: relative;
  height: 100vh;
  font-family: 'antoniobold';
  color: $white;
  text-align: center;
  background: url('../images/clouds.svg') bottom,
              url('../images/landscape.svg');
  background-size: cover;
  background-color: $blue;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 30px;
    background: url('../images/footer.svg') #c89858 repeat-x;
  }
  .logo {
    width: 13em;
    margin-bottom: 1.2em;
  }

  .subtitle {
    margin-bottom: .5em;
    font-size: 2.2em;
    color: $white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  }

  img{
    margin-bottom: 2em;
  }

  h1{
    margin-bottom: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  }
  .header-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparentize($blue, .7);
  }
}

nav{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: .5% 0;
  background-color: $white;
  @include shadow(1px,1px,5px);
  ul{
    li{
      display: inline-block;
    }
  }
}

.brand-logo {
  margin: 20px;
  width: 75%;
}

.logo,
.socials{
  margin: 0 1% 0 1%;
  li{
    margin: 0 .2em;
    img {
      width: 32px;
    }
  }
}

.hamburger{
  display: none;
  width: 36px;
  margin: 0 .5em;
  cursor: pointer;
  img {
    width: 36px;
  }

}
.main-menu {
  font-family: 'antonioregular';
  font-size: 1.1em;
  text-transform: uppercase;

  li{
    margin: 0 .4em;
    line-height: 50%;
  }

  a {
    display: flex;
    color: $blue;
    text-decoration: none;
  }
}

.locale {
  margin-bottom: 1.5em;
  font-family: 'antoniobold';
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1.2em;
  color: $white;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}

.legend {
  position: absolute;
  right: 2%;
  top: 80%;
  font-family: 'antoniolight';
  color: $white;
  @include text-shadow(1px,1px,0,$black);
}

#local {
  position: relative;
  .wrapper{
    z-index: 20;
  }

  iframe {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none; /* desativa a rolagem com mouse */
  }
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include block(90%, 1.5em, .9em);
  transition: all 0.4s ease 0s;
  &:hover{
    @include shadow(0px,0px,12px);
  }

  p {
    margin-bottom: 1em;
    &:last-child{
      text-align: center;
    }
  }

  li {
    margin-left: 1em;
    margin-bottom: .5em;
    color: $text-grey;
    list-style-type: circle;}

  &-title {
    font-family: 'antoniolight';
    font-size: 1.4em;
    color: $brown;

    strong {
      font-family: 'antonioregular';
    }
  }
}
.adress {
  @include block(50%,2em,.9em);
  @include shadow(0px,0px,7px);

  p {
    margin-bottom: 1em;
  }
  &-title {
    font-family: 'antoniolight';
    font-size: 1.4em;
    color: $blue;
  }
}

.support {
  @include block(35%,0,.9em);
  background-color: white!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.input-full {
  width: 100%;
}

textarea {
  height: 5em;
}

#footer {
  padding: 4vw;
  font-size: .8em;
  background: $blue;

  p {
    color: $light-grey;
    margin: 0;
  }

  a {
    color: $yellow;
    &:hover{
      text-decoration: none;
    }
  }
}

.development {
  font-size: .9em;
}

.trusteeship {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'antoniobold';
}

.signature {
  width: 50%;
  text-align: right;
}

@media (max-width: 959px) {
  .hamburger {
    display: block;}
}

@media (min-width: 320px) and (max-width: 768px){
  .wrapper {
    width: 100%;
  }

  header {
    min-height: 550px;

    &::before {
      top: 15%;
      left: -86%;
      font-size: .55em;
      transform: rotate(-90deg);
    }

    h1 {
      font-size: 2.2em;
    }

    .subtitle {
      font-size: 1.5em
    }

    time {
      font-size: 1.5em;
    }

    .button-action_big {
      font-size: 1em;
    }
  }
  .main-menu {
    @include shadow(1px,1px,3px);

    position: absolute;
    top: 0%;
    left: -120%;
    width: 100%;
    height: auto;
    padding: 1.2em 1em;
    font-size: .75em;
    text-align: right;
    background: $grey;
    transition: left 0.4s ease 0s;

    li {
      display: block;
      margin: 0 .3em;
      font-size: 1.5em;
      line-height: 2em;
    }

    &::after {
      display: block;
      padding: 40%;
      content: '';
      background: $grey;
    }
  }

  li.close {
    text-align: left;
  }

  .hamburger {
   flex-grow: 1;
  }

  .logo {
    flex-grow: 2;
    margin: .5em 0;
  }

  .socials {
    position: absolute;
    top: 0%;
    left: -120%;
    width: auto;
    height: auto;
    margin-left: 45%;
    opacity: 0;
    padding: 1.2em 1em;
    background: $grey;
    transition: left 0.4s ease 0s, opacity 0.1s ease 0s;

    li {
      margin: 0 .3em;
      font-size: 1.5em;
      line-height: 2em;
    }
  }
  .showup {
    left: 0;

    &.socials {
      left: 0;
      max-width: 40%;
      opacity: 1;
    }
  }

  .subtitle {
    text-align: center;
  }

  .pale {
    flex-direction: row;
  }

  .choice,
  .speaker,
  .adress,
  .trusteeship,
  .development {
    width: 100%;
  }

  .sponsor-gold {
    width: 100%;
  }

  .sponsor-sliver {
    width: 80%;
  }

  .sponsor-bronze {
    width: 70%;
  }

  .sponsor-gold__header {
    img[src*="vericode"] {
      width: 75%;
    }

    img[src*="gravento"] {
      width: 70%;
    }
  }

  #local {
    height: 100%;
    background: url(../images/maps.jpg) top no-repeat
  }

  .adress {
    font-family: .8em;
  }

  .ribbon {
    &::before,
    &::after {
      top: 1.6em;
      right: -5em;
    }
  }

  input[type="text"].input,
  input[type="email"].input {
    width: 100%;
    margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 959px) {
  .brand-logo {
    width: 30%;
  }

  .showup {
    top: 0;
  }

  .socials {
    flex-grow: 0;
    li {
      margin: 0 .2em;
    }
  }
  .hamburger {
    flex-grow: 2;
  }

  .logo{
    flex-grow: 1;
  }

  .choice{
    width: 80%;
  }

  .speaker {
    width: 48%;
    font-size: .8em;

    .hide {
      padding: .6em;
    }
  }

  .adress {
    width: 90%;
  }
  .sponsor {
    &-gold {
      width: 46%;
    }

    &-sliver{
      width: 42%;
    }

    &-bronze {
      width: 38%;
    }
  }
}

@media (min-width: 1024px) {
  .brand-logo {
    width: 30%;
  }
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;}

    .main-menu li {
      margin: 0 .4em;
      line-height: 50%;}

    .talk{
      &:nth-of-type(odd){
        margin-left: 60%;
        text-align: left;}

      &:nth-of-type(even){
        margin-right: 60%;
        text-align: right;}
    }

    input[type="text"].input{
      width: 48.7%;
      margin-right: 1%;
      margin-left: 0;}

    input[type="email"].input{
      width: 48.7%;
      margin-left: 1%;
      margin-right: 0;}

  .trusteeship,
  .development{
    width: 50%;}
}
@media(min-width: 1277px) {
  .main-menu li {
    margin: 0 .4em;
    line-height: 50%;}


  .sponsor{
    &-gold{
      width: 26%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }

    &-sliver{
      width: 23%;
      margin: 0 1% 1em 1%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }

    &-bronze{
      width: 17%;
      margin: 0 -2.4%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }
  }

  .support{
    @include block(18%,0,.9em);}

}
@media (min-width: 1400px){
  .wrapper{
    width: 90%;}
    .support{
      @include block(15%,0,.9em);}
}
@media (min-width: 1600px){
  .wrapper{
    width: 65%;}
}
